.table_title{
    background-color: black;
    color: white;
    width: 100%;
   
    
}
.table{
 width: 500px;
 border:2px solid black;
 border-collapse: collapse;
 margin-top: 10px;
}
.table_line{
    text-align: center;
}
.table_line td{
    border: 1px solid black
}

tbody tr:nth-child(odd) {
  background-color: #ebe6ea;
}

tbody tr:nth-child(even) {
  background-color: #cac1ca;
}